<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>National Historic Sites</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <!-- Include Navbar Partial -->
  <%- include('partials/navbar', { page: '/' }) %>

  <br />
  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome</h1>
          <p class="py-6">Browse National Historic Sites located across ten provinces and three territories of Canada.</p>
          <a href="/sites" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div>
    
    <br />
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% sites.forEach(site => { %>
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="<%= site.image %>" alt="<%= site.site %>" />
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= site.site %></h2>
            <p><%= site.description %></p>
            <p><b>Date:</b> <%= site.date %> (<%= site.dateType %>)</p>
            <p><b>Location:</b> <%= site.location %>, <%= site.provinceOrTerritoryObj.name %></p>
            <div class="card-actions justify-end">
              <a href="/sites/<%= site.siteId %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
